<%#
    This creates a single checkbox and corresponding label within a div

    Explicitly passed in on webpage.
    @input {String} displayName The label text
    @input {String} name The value of the `name` and `id` attributes

    Example: include('checkbox', {name: "pads", displayName: "Pads"})
%>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name=<%= name %> id=<%= name %> value=true>
  <label class="form-check-label" for=<%= name %>><%= displayName %></label>
</div>
