<%#
    This create the nav bar at the top of the page on all pages.

    Implicitely passed in from route.
    @input {boolean} loggedOut is handled by the system to determine what you can see.
    @input {User} currentUser Is the user currently on the page. username and role are used to determine functionality

    Example: include('partials/header-nav')
%>

<nav id="header-nav" class="navbar navbar-expand-lg navbar-dark" role="navigation">
  <a class="navbar-brand" href="/">The Farrier Center</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if (typeof loggedOut === 'undefined') { %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/horse/queue">Queue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/horse/all">Horses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/horse/new">New Horse</a>
      </li>
      <% if(currentUser.role === 'admin'){ %>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <% } %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <% if(currentUser.fname) { %>
          <%= currentUser.fname + ' ' + currentUser.lname  %>
          <% } else{ %>
          Account
          <% } %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user">Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
      </li>

    </ul>
    <div>
      <form class="my-2 my-lg-0" action="/search" method="POST">
        <div class="row">
          <div class="col">
            <input name="query" class="form-control mr-sm-2 form-group" type="text" id="search-bar"
              placeholder="Name, Owner, Location..." aria-label="Search">
            </input>
            <div id="matches">
              <script src="../javascripts/autocomplete.js"></script>
            </div>
          </div>
          <button id="search-button" height=30px input class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Search</button>
        </div>




      </form>
    </div>
  </div>

  <% } %>
</nav>
