<%#
    This sets up the doctype, head, bootstrap, and other style sheets for every page.

    Explicitly passed in on webpage.
    @input {String} title Is a string that gets set as the page title (visible on tab)
    @input {String} css the name of the css file to be used minus .css

    Example: include('partials/head', { title: 'Horse Profile', css: 'horse' })
%>

<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>


<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="/public/stylesheets/general.css" />
<link rel="stylesheet" type="text/css"
  href="/public/stylesheets/<%= typeof css === 'undefined' ? 'general' : css %>.css" />

<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
<style>
  <%- style %>
</style>

<head>
  <title><%= title %> | Farrier Center</title>
</head>
