<a class="col-md-3 link-unstyled" href="/horse/<%= horse.id %>">
  <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
    <div class="horse-profile" data-toggle="tooltip">
      <%= horse.name %>
    </div>
  </span>
</a>
