<%#
    This partial generates the form for each individual hoof.

    Explicitly passed in on webpage.
    @input {String} hoof This is the regular version of hoof that is passed in (Front Right).
    @input {String} hoofIdent This is the variable version of hoof (meaning no spaces, frontRight).

    Example: include('partials/shoeing-input-form', {hoof: 'Back Right', hoofIdent: "backRight"})
%>


<div class="col-sm-6 shoeing">
  <h1><%= hoof %></h1>

  <h2>A/P</h2>
  <p>insert browse image box here</p>

  <h2>M/L</h2>
  <p>insert browse image box here</p>

  <h3>Measurements:</h3>
  <div class="form-group">
    <label for="shoe">Shoeing Type:</label>
    <select class="form-control" id="shoe" name="<%= hoofIdent %>Shoe">
      <option selected disabled>Select Shoeing</option>
      <option>Full</option>
      <option>Half</option>
      <option>Trim</option>
    </select>
  </div>
  <div class="form-group">
    <label for="size">Shoe Size</label>
    <input type="number" class="form-control" id="size" name="<%= hoofIdent %>Size"
      placeholder="Enter Horse Shoe size">
  </div>

  <div class="form-group">
    <label for="notes">
      <H3>Notes:</H3>
    </label>
    <textarea class="form-control" id="notes" name="<%= hoofIdent %>Notes" rows="4"
      placeholder="None, It went normally."></textarea>
  </div>
</div>
