<div id="most-recent-shoeing" class="shoeing">
    <h2 class="title">Most Recent Shoeing</h2>

        <h4 class="farrier" style="text-align: center">Farrier: Carol Reid</h4>
        <h4 class="title"> Date : 3/29/2020</h4>



    <div class="row">
        <div class="single-shoe">
            <img src="footimg.jpg" class="shoeing-img">
            <div class="shoeing-text">
                <h3>Front Left</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu"
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="single-shoe">
            <img src="frontLefthoof.jpg" class="shoeing-img">
            <div class="shoeing-text">
                <h3>Front Right</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu"
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="single-shoe">
            <img src="anotherhoof.jpg" class="shoeing-img">
            <div class="shoeing-text">
                <h3>Back Left</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu"
                </p>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="single-shoe">
            <img src="Upright_Foot.jpg" class="shoeing-img">
            <div class="shoeing-text">
                <h3>Back Right</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu"
                </p>
            </div>
        </div>
    </div>
</div>

<br>

<div id="services-and-notes">
  <div id="services">
    <h4 style="text-align: center">Services</h4>
      <ul class="list-horizontal">
          <li>Inline list item #1</li>
          <li>Inline list item #2</li>
          <li>Inline list item #3</li>
          <li>Inline list item #1</li>
          <li>Inline list item #2</li>
          <li>Inline list item #3</li>
          <li>Inline list item #1</li>
          <li>Inline list item #2</li>
          <li>Inline list item #3</li>
      </ul>
  </div>


</div>
<div id="notes">
    <h4 style="text-align: center; background-color: white">Notes</h4>
    <p id="note-text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu"
    </p>
</div>