<%#
    This is the prototype shoeing has everything explicitly declared, also doesn't have good formatting when empty.
    this should either be changed or deleted soon. Whoever changes this should update this comment section.
    Most other partials should be able to show the formatting.
%>

<h1><%= area %></h1>
<h2>Images</h2>
<% for (image in hoof.images) { %>
<img alt="Horse" class="img-fluid float-left" src=<%= image.url %> />
<% } %>
<h3>Measurements</h3>
<p>Size: <%= hoof.shoeSize %></p>
<h3>Notes</h3>
<p><%= hoof.notes %></p>
