<%- include('partials/head', { title: 'Administration' }) %>

<body>
    <form action="/admin" method="post">
        <div><label>Email</label><input type="text" name="email" /></div>
        <div><input type="submit" value="Send" /></div>
    </form>
</body>
