<%- include('partials/head') %>

<head>
  <title>MultiHorse Profile View</title>
</head>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container">
    <h2 class="text-center my-3">Multi-Horse Layout</h2>
    <div class="text-center">
      Every horse should be available below. Clicking on a box should navigate to that horse's
      profile page.
    </div>

    <div class="container mt-3">
      <div class="row">
        <%# Each col-md-3 will take up 1/4 of a row, adding more here will result in new tiles
          being created, filling rows to 4 before starting a new row. This is where we will
          dynamically insert things when the time comes. -Dimitrios P %>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>

        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
        <div class="col-md-3">
          <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>

</html>
