<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MultiHorse Profile View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/public/javascripts/horses.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/horses.css">

</head>
<body>
<%- include('partials/header-nav') %>
<div id="page-container">
<h2 class="text-center my-3">Multi-Horse Layout</h2>
<div class="text-center">Every horse should be available below.
    Clicking on a box should navigate to that horse's profile page.
</div>

<div class="container mt-3">

    <div class="row" >
            <!-- Each col-md-3 will take up 1/4 of a row, adding more here will
        result in new tiles being created, filling rows to 4 before
        starting a new row. This is where we will dynamically insert things
         when the time comes. -Dimitrios P-->
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>

        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>
        <div class="col-md-3">
            <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
            <div class="demo-content" data-toggle="tooltip">Demo - Horse</div>
            </span>
        </div>


    </div>
</div>


</div>
<%- include('partials/footer') %>
</body>
</html>