<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Horse Profile View</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/horses.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/horses.css" />
  </head>

  <body>
    <!–– Horse Summary ––>
    <div class="container" style="background-color:powderblue;">
      <div class="row">
        <div class="col-sm-4">
          <img alt="Horse" class="img-fluid float-left" src="../public/images/horse_profile.png" />
        </div>
        <div class="col-sm-4">
          <table class="table">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Name:</th>
                <td>Blue Lighting</td>
              </tr>
              <tr>
                <th scope="row">Gender</th>
                <td>Female</td>
              </tr>
              <tr>
                <th scope="row">Discipline</th>
                <td>Hunt Seat</td>
              </tr>
              <tr>
                <th scope="row">Location</th>
                <td>9876 Countysun Road, Creek Town, CA</td>
              </tr>
              <tr>
                <th scope="row">Owner</th>
                <td>Jane Doe</td>
              </tr>
              <tr>
                <th scope="row">Vet</th>
                <td>John Buck</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr></tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <p></p>

    <!–– Horse Medical Analysis ––>
    <div class="container" style="background-color:powderblue;">
      <div class="row">
        <div class="col-sm-4">
          <h1>Medical</h1>
        </div>
        <div class="col-sm-4">
          <h1>Date: 11/13/19</h1>
        </div>
        <div class="col-sm-4">
          <h1>Farrier</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>Gait Analysis</p>
          <p>Lameness</p>
          <p>Blemishes</p>
          <p>Laminitus</p>
        </div>
      </div>
    </div>

    <p></p>

    <!–– Horse Most Recent Shoeing ––>
    <div class="container" style="background-color:powderblue;">
      <div class="row">
        <div class="col-m-4">
          <h1>Recent Shoeing</h1>
        </div>
        <div class="col-sm-4">
          <h1>Date: 11/13/19</h1>
        </div>
        <div class="col-sm-4">
          <h1>Farrier</h1>
        </div>
      </div>
      <div class="row">
        <p>Work in Progress</p>
      </div>
    </div>
  </body>
</html>
