<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horse Profile View</title>

    <%- include('partials/head') %>
  </head>

  <body>
  <%- include('partials/header-nav') %>

  <div class="container-fluid">
    <!-- Horse Summary-->
    <div class="container profile">
      <div class="row">
        <div class="col-sm-4">
          <img alt="Horse" class="img-fluid float-left" src="../public/images/horse_profile.png" />
        </div>
        <div class="col-sm-4">
          <table class="table table-borderless">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Name:</th>
                <td>Secretariat</td>
              </tr>
              <tr>
                <th scope="row">Gender</th>
                <td>Stallion</td>
              </tr>
              <tr>
                <th scope="row">Temperament</th>
                <td>Docile</td>
              </tr>
              <tr>
                <th scope="row">Discipline</th>
                <td>Hunt Seat</td>
              </tr>
              <tr>
                <th scope="row">Location</th>
                <td>9876 Countysun Road, Creek Town, CA</td>
              </tr>
              <tr>
                <th scope="row">Owner</th>
                <td>Meadow Stables</td>
              </tr>
              <tr>
                <th scope="row">Vet</th>
                <td>John Buck</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr></tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>


    <!–– Horse Medical Analysis ––>

    <div class="container profile">
      <div class="row justify-content-center">
        <a class="btn btn-dark" data-toggle="collapse" href="#medical" role="button" aria-expanded="false" aria-controls="medical">
          Show Medical Analysis
        </a>
      </div>

      <div class="collapse" id="medical">
      <div class="row">
        <div class="col-sm-4">
          <h1>Medical Analysis</h1>
        </div>
        <div class="col-sm-4">
          <h1>Date: 11/13/19</h1>
        </div>
        <div class="col-sm-4">
          <h1>Farrier: Steve</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4>Gait Analysis</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <h4>Lameness</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <h4>Blemishes</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <h4>Laminitus</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      </div>
    </div>

    <!–– Horse Most Recent Shoeing ––>
    <div class="container profile" >
      <div class="row">
        <div class="col-sm-4">
          <h1>Recent Shoeing</h1>
        </div>
        <div class="col-sm-4">
          <h1>Date: 11/13/19</h1>
        </div>
        <div class="col-sm-4">
          <h1>Farrier: Steve</h1>
        </div>
      </div>
      <!-- Shoeing Data -->
      <div class="row">
        <div class="col-sm-6 shoeing">
          <h1>Front Left</h1>
          <h2>A/P</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.7</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h2>M/L</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.2</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="col-sm-6 shoeing">
          <h1>Front Right</h1>
          <h2>A/P</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.7</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h2>M/L</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.2</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 shoeing">
          <h1>Back Left</h1>
          <h2>A/P</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.7</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h2>M/L</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.2</h3>
          <p>Type: Fuller</p>
          <p>Size:7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="col-sm-6 shoeing">
          <h1>Back Right</h1>
          <h2>A/P</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.7</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <h2>M/L</h2>
          <img alt="Horse" class="img-fluid float-left" src="../public/images/hoof.jpg" />
          <h3>Measurements: 6.2</h3>
          <p>Type: Fuller</p>
          <p>Size: 7</p>
          <h3>Notes:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
  </body>
</html>
