<%- include('partials/head', { title: 'All Horses', css: 'horses' }) %>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container">
    <div class="container mt-3">
      <div class="row">
        <% for (const horse of horses) { %>
        <%-  include('partials/horse-profile', { horse: horse }) %>
        <% } %>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>

<script src="/public/javascripts/horses.js"></script>
