<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head', { title: 'Login' }) %>
</head>

<body>
  <%- include('partials/header-nav', { loggedOut: true }) %>
  <!--TODO correctly add spacing between hedder and login form
   correct location of register link-->
  <div style="min-height: 50px;"></div>
  <div id="page-container" class="container-fluid password-form col-xl" style="min-width: 350px;">
    <div class="container hprofile">
      <div class="col-xs-1 text-center">
        <h1>User Login</h1>
      </div>
      <div class="alert alert-error login-alert"><%= message %></div>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="col-xs-1 text-center">
          <button input type="submit" class="button-login" value="Log In">Login</button>
        </div>
        <div class="col-xs-1 text-center">
          <a class="login-links" href="/register">Register</a>
        </div>
      </form>
    </div>
  </div>

</body>

</html>
