<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head', { title: 'Login' }) %>
</head>

<body>
  <%- include('partials/header-nav', { loggedOut: true }) %>
  <!--<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"><a class="brand" href="/">Example</a>
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>-->
  <!--<div id="page-container" class="container-fluid">
    <div class="container hprofile"></div>
    <h1>Log In</h1>
    <div class="alert alert-error"><%= message %></div>
    <form action="/login" method="post">
      <div><label>Username</label><input type="text" name="username" /></div>
      <div><label>Password</label><input type="password" name="password" /></div>
      <div><input type="submit" value="Log In" /></div>
    </form>
  </div>-->
  <!--TODO correctly add spacing between hedder and login form
   correct location of register link-->
  <div id="page-container" class="container-fluid">
    <div class="container hprofile">
      <div class="col-xs-1 text-center">
        <h1>Log In</h1>
      </div>
      <div class="alert alert-error login-alert"><%= message %></div>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button input type="submit" class="btn btn-primary" value="Log In">Submit</button>
        <li><a href="/register">Register</a></li>
      </form>
    </div>
  </div>

</body>

</html>
<!--<div id="page-container" class="container-fluid">
  <div class="container hprofile">
      <h1>Log In</h1>
      <form action="/login" method="post">
          <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" name="username" >
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" name="password" >
        </div>
          <button type="submit" class="btn btn-primary" value="Log In">Submit</button>
      </form>
  </div>
</div>-->
