<%- include('partials/head', { title: 'Horse Profile' }) %>

<body>
    <%- include('partials/header-nav') %>
    <div id="page-container" class="container-fluid">
        <div class="container hprofile">
            <form>
            Horse Profile Picture input here... hopefully
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Horse Name Here">
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineGenderOptions" id="radioMale" value="Male">
                    <label class="form-check-label" for="radioMale"><H2>Male</H2></label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineGenderOptions" id="radioFemale" value="Female">
                    <label class="form-check-label" for="radioFemale"><H2>Female</H2></label>
                </div>

                <div class="form-group">
                    <label for="temperament">Temperament(select one):</label>
                    <select class="form-control" id="temperament">
                        <option selected disabled>Select Temperament</option>
                        <option>Quiet</option>
                        <option>Interested</option>
                        <option>Nervous</option>
                        <option>Extremely Nervous</option>
                        <option>Stubborn</option>
                        <option>Treacherous</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="discipline">Discipline (select one):</label>
                    <select class="form-control" id="discipline">
                        <option selected disabled>Select Discipline</option>
                        <option>Dressage</option>
                        <option>Endurance Riding</option>
                        <option>Eventing</option>
                        <option>Racing</option>
                        <option>Horseball</option>
                        <option>Polo</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="" class="form-control" id="name" placeholder="1234 James Town Rd.">
                </div>

                <div class="form-group">
                    <label for="owner">Owner</label>
                    <input type="name" class="form-control" id="owner" placeholder="Enter the owner's name here">
                </div>

                <div class="form-group">
                    <label for="vet">Veterinarian</label>
                    <input type="name" class="form-control" id="vet" placeholder="Enter the vet's name here">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>

