<%- include('partials/head', { title: 'New Horse' }) %>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container" class="container-fluid">
    <div class="container form">
      <H1>New Horse</H1>
      <form action="/horse/new" method="post" enctype="multipart/form-data">

        <%- include('partials/horse-input-fields', {updateable: false}) %>

        <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
        <button type="submit" class="btn btn-primary" name="submit" value="shoeing">New Shoeing</button>
      </form>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
