<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/password.css">
</head>

</body>
<form action="" class="password-form">
    <label for="current-password">Current Password</label>
    <input type="password" name="current-password" id="current-password" class="form-control">
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password" class="form-control">
    <label for="reenter-password">Reenter Password</label>
    <input type="password" name="reenter-password" id="reenter-password" class="form-control">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>

</html>