<%- include('partials/head', { title: 'Horse Queue' }) %>

<body>
  <%- include('partials/header-nav', {name: username}) %>
  <div id="page-container">
    <h2 class="text-center my-3">Queue</h2>
    <div class="text-center">There are 3 horses in your queue</div>
    <div class="container-sm rounded">
      <table border="1px" class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Horse</th>
            <th scope="col">Location</th>
            <th scope="col">Last Visit</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <% for (horse of horses) { %>
          <%-  include('partials/queue-item', { horse }) %>
          <% } %>
        </tbody>
      </table>
    </div>
    <p>
      We can utilize bootstrap's table row color options to indicate rows where a horse has been
      waiting in the
      queue for longer periods of time. There are "bg-warning" and "bg-danger" classes.
      <a href="https://getbootstrap.com/docs/4.0/content/tables/#contextual-classes">
        https://getbootstrap.com/docs/4.0/content/tables/#contextual-classes</a></p>
  </div>
  <%- include('partials/footer') %>
</body>
