<%- include('partials/head', { title: 'Register' }) %>
<!--user: testuser  pass:test
for admin access-->

<body>
  <%- include('partials/header-nav', { loggedOut: true },{email}) %>
  <div style="min-height: 50px;"></div>
  <div id="page-container" class="container-fluid password-form col-xl">
    <div class="container form">
      <div class="col-xs-1 text-center">
        <h1>Registration</h1>
      </div>

      <form action="/register" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" readonly=true value=<%- email %> />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" required name="password" />
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" name="fname" required
                placeholder="First name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" name="lname" required placeholder="Last name">
            </div>
          </div>
        </div>
        <div class="col-xs-1 text-center">
          <button type="submit" class="btn btn-primary mt-3 mb-3" value="Register">Register</button>
        </div>
      </form>
      <div class="col-xs-1 text-center">
        <a class="login-links" href="/login">Login</a>
      </div>
    </div>
  </div>
</body>
