<%- include('partials/head', { title: 'All Horses', css: 'horses' }) %>

<body>
    <%- include('partials/header-nav', {name: username}) %>
    <div id="page-container">
        <h2 class="text-center my-3">Search Results</h2>
        <div class="text-center">
            Result of query available below. Clicking on a horse will navigate to that horse's
            profile page.
        </div>

        <div class="container mt-3">
            <div class="row">
                <% for (horse of horses) { %>
                <%-  include('partials/horse-profile', {horse: horse} ) %>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
