<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/horses.css">

</head>


<body class="">
    <%- include('partials/header-nav') %>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12"><a class="btn w-100 text-body btn-link text-left" href="#"><i
                                class="fa fa-user fa-fw pull-left"></i>Profile</a></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><a class="btn w-100 btn-link text-body text-left" href="#"><i
                                class="fa fa-cog fa-fw pull-left"></i>&nbsp;Account Settings<br></a></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputmailinline" placeholder="First Name"
                                    readonly="readonly"> </div>
                            <div class="form-group">
                                <input type="text" class="form-control mx-2" id="inputpasswordinline"
                                    placeholder="Last Name" readonly="readonly"> </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="e-mail" readonly="readonly">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Phone #" readonly="readonly">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>