#popup{
    display: none;
}

.demo-content:hover{
    border: solid lightblue;

}

.demo-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 200px;
    padding-bottom: 40px;

    border: solid cadetblue;
    font-size: 18px;
    text-align: center;

    background-image: url("horse_profile.png");
    background-position: top center;
    background-size: 90%;
    background-repeat: no-repeat;

}

.demo-content.bg-alt {
    background: #abb1b8;
}

.navbar.bg-alt {
}