#page-container {
  position: relative;
  /*sets footer to bottom even if the page isn't full
    the 92 is 100 minus the height of the footer*/
  min-height: 92vh;
}

#site-footer {
  position: page;
  bottom: 0;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.login-alert {
  color: red;
  margin: 0px;
  padding: 0px;
}

.button-login {
  background-color: #008cba;
  border: none;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: inline-block;
  width: 75%;
  height: 35px;
  transition-duration: 0.4s;
}

.button-login:hover {
  background-color: white; /* Green */
  color: #008cba;
  border: 2px solid #008cba;
  border-color: #008cba;
  font-weight: bold;
  text-decoration: underline;
}

.login-links {
  color: #008cba;
}

.login-links:hover {
  font-weight: bold;
}

.form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.password-form {
  width: 50%;
  margin: auto;
  min-width: 350px;
}

.pad {
  padding: 5px;
}

nav {
  background-color: var(--nav-color);
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.table,
.form,
.form-control,
.form-control:focus {
  background-color: var(--fg-color);
  border-color: var(--border-color);
  color: var(--primary-text-color);
}
.form-control:focus {
  border-color: var(--accent-color);
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}
.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--secondary-text-color);
}
