#page-container {
  position: relative;
  /*sets footer to bottom even if the page isn't full
    the 92 is 100 minus the height of the footer*/
  min-height: 92vh;
}

#site-footer {
  position: page;
  bottom: 0;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.table {
  color: var(--primary-text-color);
}

.form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.password-form {
  width: 50%;
  margin: auto;
  min-width: 350px;
}

.pad {
  padding: 5px;
}

nav {
  background-color: var(--nav-color);
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.form,
.form-control,
.form-control:focus {
  background-color: var(--input-bg-color);
  border-color: var(--border-color);
  color: var(--primary-text-color);
}
.form-control:focus {
  background-color: var(--input-bg-focus-color);
  border-color: var(--border-focus-color);
  box-shadow: none;
}

.btn {
  background-color: var(--button-color);
  border: 2px solid transparent;
  color: var(--button-text-color);
}
.btn:hover {
  background-color: var(--button-hover-color);
  border: 2px solid var(--button-border-color);
  color: var(--button-text-hover-color);
}

a {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--accent-color);
}
