html {
  position: relative;
  min-height: 100%;
}

#page-container {
  position: relative;
  /*sets footer to bottom even if the page isn't full
    the 92 is 100 minus the height of the footer*/
  min-height: 92vh;
}

#site-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.table {
  color: var(--primary-text-color);
}

.form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.password-form {
  width: 50%;
  margin: auto;
  min-width: 350px;
}

.pad {
  padding: 5px;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.form,
.form-control,
.form-control:focus {
  background-color: var(--input-bg-color);
  border-color: var(--border-color);
  color: var(--primary-text-color);
}
.form-control:focus {
  background-color: var(--input-bg-focus-color);
  border-color: var(--border-focus-color);
  box-shadow: none;
}

.form-control:read-only:not(select) {
  background-color: var(--readonly-text-field-bg-color);
}

.form-control::placeholder {
  color: var(--placeholder-text-color);
}

.dropdown-menu {
  background-color: var(--dropdown-bg-color);
}

.dropdown-item {
  color: var(--dropdown-item-text-color);
}

.dropdown-item:hover {
  background-color: var(--dropdown-item-bg-hover-color);
  color: var(--dropdown-item-text-hover-color);
}

.dropdown-divider {
  border-color: var(--dropdown-divider-color);
}

.btn {
  background-color: var(--button-color);
  border: 2px solid transparent;
  color: var(--button-text-color);
}
.btn:hover {
  background-color: var(--button-hover-color);
  border: 2px solid var(--button-border-hover-color);
  color: var(--button-text-hover-color);
}

a {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--link-hover-color);
}

nav {
  background-color: var(--nav-color);
}

#header-nav {
  border-bottom: 1px solid var(--nav-border-color);
}

#footer-nav {
  border-top: 1px solid var(--nav-border-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--nav-text-color);
}
.modal-content,
.modal-body,
.modal-header {
  background-color: var(--bg-color);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--nav-text-hover-color);
}
.ui-menu-item {
  position: relative;
  display: table-row-group;
  top: 0;
  background-color: var(--dropdown-bg-color);
  min-width: 100px;
  align-items: left;
}
#matches {
  position: absolute;
  display: block;
  text-align: left;
  z-index: 1;
  background-color: var(--dropdown-bg-color);
}
#search-bar {
  position: relative;
  height: 40px;
}
#search-button {
  height: 40px;
}

#page-container {
  /* Prevent the footer from cutting off the bottom of the page */
  padding-bottom: 70px;
}

.horseshoe-icon-header {
  padding-right: 10px;
}

.horseshoe-icon-footer {
  margin-left: auto;
  margin-right: auto;
}

.horseshoe-icon {
  height: 40px;
}
