@import 'general.css';

#popup {
  display: none;
}

.hprofile {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.horse-profile {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 200px;
  padding-bottom: 40px;

  border: solid cadetblue;
  font-size: 18px;
  text-align: center;

  background-image: url('../images/horse_profile.png');
  background-position: top center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.horse-profile:hover {
  border: solid lightblue;
}

.horse-profile.bg-alt {
  background: #abb1b8;
}
