@import 'general.css';

.shoeing {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 2px;
}

.shoeing-card {
  border: 2px solid var(--border-color);
  background-color: var(--shoeing-card-color);
  display: inline-flex;
  margin: 0.3%;
}

.shoeing-card-body {
  background-color: var(--shoeing-card-body-color);
}

#all-report-button {
  text-align: right;
  padding: 2%;
}

#new-shoeing-button {
  text-align: right;
}

input {
  vertical-align: center;
  margin-top: 0;
  padding: 0;
  width: 22px;
  height: 22px;
}

#new-shoeing-and-view {
  text-align: right;

  display: inline-flex;
}
.card-header {
  display: inline-flex;
}
.shoeing-button {
  margin-right: 20px;
}
.thumbnail-button {
  float: left;
}

.visits {
  padding: 0;
}
