@import 'general.css';

#popup {
  display: none;
}

.horse-profile {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 200px;
  padding-bottom: 40px;

  border: solid var(--border-color);
  font-size: 18px;
  text-align: center;
  color: var(--primary-text-color);

  background-image: url('../images/horse_profile.png');
  background-position: top center;
  background-size: 90%;
  background-repeat: no-repeat;

  background-color: var(--fg-color);
}

.horse-profile:hover {
  border: solid var(--border-hover-color);
}
