@import 'general.css';

.shoeing {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 2px;
}

.shoeing-card {
  border: 2px solid var(--border-color);
  background-color: var(--shoeing-card-color);
}

.shoeing-card-body {
  background-color: var(--shoeing-card-body-color);
}
