#queue {
  border: 1px;
  border-radius: 15px;
}

#left-col {
  padding-left: 17px;
}

#right-col {
  padding-right: 17px;
}

#queue {
  background-color: var(--queue-color);
  color: var(--queue-text-color);
}

.queue-cell {
  overflow: hidden;
}

.queue-item-dropdown {
  text-align: right;
}

.queue-item-link {
  display: block;
  margin: -10em;
  padding: 10em;
}

table.dataTable thead > tr > th {
  padding-left: 30px !important;
  padding-right: initial !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  left: 12px !important;
  right: auto !important;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  left: 4px !important;
  right: auto !important;
}
.checkbox-area,.dataTables_info {
  float: right;
}
.dataTables_length{
  margin-left: 10px;
  float: left;
}

.dataTables_filter {
  padding-left: 2%;
  float: left;
}

.dataTables_paginate {
  float: left;
}
