#queue {
  border: 1px;
  border-radius: 15px;
}

#left-col {
  padding-left: 17px;
}

#right-col {
  padding-right: 17px;
}

#queue {
  background-color: var(--queue-color);
  color: var(--queue-text-color);
}

.queue-item-dropdown {
  text-align: right;
}
