#queue {
  margin: auto;
}

#left-col {
  padding-left: 17px;
}

#right-col {
  padding-right: 17px;
}

#queue {
  background-color: var(--queue-color);
  color: var(--queue-text-color);
}

.queue-row {
  margin-right: 0px;
}

.queue-cell {
  overflow: hidden;
}

.queue-item-dropdown {
  text-align: right;
}

.queue-item-link {
  display: block;
  margin: -10em;
  padding: 10em;
}

table.dataTable thead > tr > th {
  padding-left: 30px !important;
  padding-right: initial !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  left: 12px !important;
  right: auto !important;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  left: 4px !important;
  right: auto !important;
}
.dataTables_info {
  float: left;
  padding-bottom: 10px;
  margin-left: 1%;
}

.dataTables_filter {
  margin-right: 20%;
  padding-right: 25px;
}

.checkbox-area {
  margin-left: 20%;
  padding-left: 25px;
}

.queue-entry {
  padding-right: 0px;
}
