@import 'general.css';

.password-form {
  width: 50%;
  margin: auto;
}

.tab-menu-formatting {
  max-width: 600px;
  align-content: center;
}

.single-user {
  padding: 2rem;
}

.center {
  justify-content: center;
}
